@import "bootstrap";

/**
 * Table of Contents:
 *
 * 1.0 - Universal Rules
 * 2.0 - Conversations View
 * -----------------------------------------------------------------------------
 */

/**
 * 1.0 Universal Rules
 *
 * Rules that are used throughout the App
 *
 * -----------------------------------------------------------------------------
 */

.center{
  text-align: center;
}

/**
 * 2.0 Conversations View
 *
 * Rules that are used throughout the App
 *
 * -----------------------------------------------------------------------------
 */

.conversations-container{
  nav{
    padding: 1em;
    border-bottom: 1px solid #000;
    h3{
      margin: 0;
    }
  }
}