@import "bootstrap";

/**
 * Table of Contents:
 *
 * 1.0 - Universal Rules
 * 2.0 - Conversations View
 * 3.0 - Conversation View
 * -----------------------------------------------------------------------------
 */

/**
 * 1.0 Universal Rules
 *
 * Rules that are used throughout the App
 *
 * -----------------------------------------------------------------------------
 */

$emeraldGreen: #48dc69;
$salmonRed: #f3676a;
$deepBlue: #389bf3;
$velvetPurple: #8b6ff2;

html, body{
  height: 100%;
}

p,h1,h2,h3,h4,h5,h6{
  font-family: 'Helvetica Neue', sans-serif;
}

.center{
  text-align: center;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emerald-green-background{
  background-color: $emeraldGreen;
}

.salmon-red-background{
  background-color: $salmonRed;
}

.deep-blue-background{
  background-color: $deepBlue;
}

.velvet-purple-background{
  background-color: $velvetPurple;
}

.white-background {
  background-color: #fff;
}

//Height hacking
body .ember-view:first-of-type {
    height: 100%;
}

.application-container{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.full-height{
  height: 100%;
}

.inherit-dimensions {
    width: inherit;
    height: inherit;
}
.inherit-dimensions .liquid-child {
    width: inherit;
    height: inherit;
}


/**
 * 2.0 Conversations View
 *
 * Rules that are used throughout the App
 *
 * -----------------------------------------------------------------------------
 */

.conversations-container{
  nav{
    padding: 2em 0 1em 0;
    background-color: $emeraldGreen;
    h3{
      margin: 0;
      padding: 0% 30%;
      color: #fff;
    }
    .settings-button{
      margin-left: 52.5%;
    }
  }
  .conversations-list{
    padding: 0;
    ul{
      padding: inherit;
      li{
        padding: 0.75em 1em;
        list-style-type: none;
          .user-icon{
            width: 1.25em;
            height: 1.25em;
            float: left;
            font-size: 4em;
            -webkit-border-radius: 0.625em;
            background: url('img/leon.jpg') no-repeat;
            background-size: contain;
          }
          .noti{
            position: relative;
            margin: 0em -1em;
            float: left;
            font-size: 1.5em;
            color: red;
          }
          .new-icon{
            width: 1.25em;
            height: 1.25em;
            float: left;
            font-size: 4em;
            -webkit-border-radius: 0.625em;
            border: 2px solid #fff;
            p{
              margin: -15px -1px -15px 0;
              text-align: center;
              color: #fff;
              font-weight: 200;
            }
          }
        h2{
          margin: 0;
          width: 18em;
          padding: 1em 4em;
          font-size: 1.5em;
          color: #fff;
        }
      }
    }
  }
}

/**
 * 3.0 Conversation View
 *
 * Rules that are used throughout the App
 *
 * -----------------------------------------------------------------------------
 */

.conversation-container{
  position: relative;
  .back-button{
    padding: 3% 8%;
    font-size: 3em;
    i{
      color: #fff;
    }
  }
  .message{
    height: 50%;
    overflow: hidden;
    h1{
      margin: 0;
      padding: 0% 5%;
      font-size: inherit;
      color: #fff;
    }
  }
  .reply-container{
    text-align: center;
    .reply-button{
      padding: 0% 8%;
      font-size: 3em;
      i{
        color: #fff;
      }
    }
  }
}