<div class="conversation-container fluid-container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      {{#link-to "conversations"}}<button class="btn btn-default">Back</button>{{/link-to}}
    </div>
    <div class="message col-xs-12">
      <h2>Have you ever been on SMF? Stupid Mate Referrals</h2>
    </div><!--.message-->
  </div><!--.row-->
</div><!--.conversation-container-->