<div class="conversations-container fluid-container">
  <div class="row">
    <nav class="col-xs-12">
      <h3 class="center">Conversations</h6>
    </nav><!--.col-xs-12-->
  </div><!--.row-->
</div><!--.conversations-container-->